# Vagrant
Vagrantfile
manifests
puppet_modules

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
packages
bin
var
sdist
develop-eggs
.installed.cfg
.codeintel

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Virtualenv, Dev environment
*.sublime-workspace
*.swp
.vagrant
\.#*
etc/
include/
lib/
lib64
local/
local_stuff
pip-log.txt
pip-selfcheck.json
src-buildout/
src-mrd/

# local config
local.cfg
secret.cfg
src/

# Grunt, npm
Gruntfile.js
node_modules/
npm-debug.log
package.json
temp_resources/
